looping_files.txt
{
    "name": "bronze_pipeline",
    "properties": {
        "activities": [
            {
                "name": "Until1",
                "type": "Until",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(variables('NewFileDetected'), false)",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Wait1",
                            "type": "Wait",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "waitTimeInSeconds": 300
                            }
                        },
                        {
                            "name": "Get Metadata2",
                            "type": "GetMetadata",
                            "dependsOn": [
                                {
                                    "activity": "Wait1",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "demo_DS1",
                                    "type": "DatasetReference"
                                },
                                "fieldList": [
                                    "childItems"
                                ],
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            }
                        },
                        {
                            "name": "If Condition1",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "Get Metadata2",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@greater(length(activity('Get Metadata2').output.childItems), length(variables('AccumulatedFiles')))\r\n",
                                    "type": "Expression"
                                },
                                "ifFalseActivities": [
                                    {
                                        "name": "Set variable3",
                                        "type": "SetVariable",
                                        "dependsOn": [],
                                        "policy": {
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "NewFileDetected",
                                            "value": false
                                        }
                                    }
                                ],
                                "ifTrueActivities": [
                                    {
                                        "name": "Append variable2",
                                        "type": "AppendVariable",
                                        "dependsOn": [],
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "currentFiles",
                                            "value": {
                                                "value": "@union(variables('AccumulatedFiles'), activity('Get Metadata2').output.childItems)",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    {
                                        "name": "Set variable1",
                                        "type": "SetVariable",
                                        "dependsOn": [
                                            {
                                                "activity": "Append variable2",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "AccumulatedFiles",
                                            "value": {
                                                "value": "@variables('currentFiles')",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    {
                                        "name": "Set variable2",
                                        "type": "SetVariable",
                                        "dependsOn": [],
                                        "policy": {
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "NewFileDetected",
                                            "value": true
                                        }
                                    }
                                ]
                            }
                        }
                    ],
                    "timeout": "0.12:00:00"
                }
            }
        ],
        "variables": {
            "NewFileDetected": {
                "type": "Boolean",
                "defaultValue": true
            },
            "AccumulatedFiles": {
                "type": "Array"
            },
            "currentFiles": {
                "type": "Array"
            }
        },
        "folder": {
            "name": "double-event trigger"
        },
        "annotations": [],
        "lastPublishTime": "2024-12-01T01:49:24Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}